<div class="container">

    <h2 class="text-center titulo-regalos py-4">¿Quieres hacernos un regalo?</h2>

    <p class="p-resp mt-0 mb-4 text-normal">
        Nuestro mayor regalo es que podáis venir a celebrar este día tan importante con nosotros, pero si queréis
        hacernos un regalo extra estaremos muy agradecidos!
    </p>
    <p class="p-resp mt-0 mb-4 text-normal">
        Preferimos dinero, puedes dejárnoslo en un sobre el día de la celebración, o si prefieres puedes hacernos una
        transferencia a este número de cuenta:
    </p>
    <p class="text-center num-cuenta" >
        ES96 1465 0100 97 1739671183
    </p>

    <div class="d-flex align-items-center">
        <img class="sobre" src="/assets/imagenes/iconos_sobre.svg" />
    </div>

</div>