<main>
    <img src="/assets/imagenes/portada-boda.jpg" class="img-fluid w-100" alt="Sara&Freddy" />

    <section class="d-flex flex-column align-items-center">
        <img src="/assets/imagenes/textoNosCasamos.png" class="col-6 col-md-4 col-lg-3" alt="¡Nos casamos!" />
        <p class="texto-azul">Y queremos que nos acompañes este día tan importante y especial para nosotros.</p>

        <p class="texto-azul">En esta web encontrarás todos los detalles del evento, así como información sobre el
            lugar,
            alojamiento y transporte
            para que todo sea perfecto.</p>
    </section>


    <section class="menu">
        <p id="fecha">09.09.2022</p>
        <P id="lugar">Cádiz, España</P>
    </section>

    <section class="schedule">

        <div class="container">

            <div class="row row-cols-2">

                <div class="col">
                    <img class="iconos" src="/assets/imagenes/iconos_iglesia.svg" />
                </div>

                <div class="col py-3">
                    <p class="tituloorganigrama">Ceremonia</p>
                    <p class="m-0">Iglesia de Santo Domingo</p>
                    <p class="m-0">Cádiz, España</p>
                    <p class="m-0">18:15 h</p>
                    <a class="btn btn-outline-secondary" href="https://goo.gl/maps/oSTm5HH9ak9JMLxcA" target="_blank">
                        VER EN MAPA
                    </a>
                </div>

                <div class="col">
                    <img class="iconos" src="/assets/imagenes/iconos_brindis.svg" />
                </div>

                <div class="col py-3">
                    <p class="tituloorganigrama">Chin chin + cena</p>
                    <p class="m-0">Parador Hotel Atlántico</p>
                    <p class="m-0">Cádiz, España</p>
                    <p class="m-0">21:00 h</p>
                    <a class="btn btn-outline-secondary" href="https://g.page/parador-de-cadiz?share" target="_blank">
                        VER EN MAPA
                    </a>
                </div>

                <div class="col">
                    <img class="iconos" src="/assets/imagenes/iconos_fiesta.svg" />
                </div>

                <div class="col py-3">
                    <p class="tituloorganigrama">¡Hora de BAILAR!</p>
                    <p class="m-0">Parador Hotel Atlántico,</p>
                    <p class="m-0">Cádiz, España</p>
                    <p class="m-0">22:30-02:00 h</p>
                    <a class="btn btn-outline-secondary" href="https://g.page/parador-de-cadiz?share" target="_blank">
                        VER EN MAPA
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section id="confirm" class="bkg-dark py-4">
        <div class="container d-flex flex-column align-items-center ">
            <p class="titulo-blanco">CONFIRMA TU ASISTENCIA</p>
            <P class="texto-blanco">Por favor, confírmanos tu asistencia para que podamos organizar todo mejor.</P>
        </div>
    </section>

    <section id="dress-code">
        <p class="tituloorganigrama">Dress Code</p>
        <p class="texto-azul-claro">Etiqueta</p>

        <img class="img-dress" src="/assets/imagenes/dress-code-08.jpg">

        <p class="p-resp">Si no tienes chaqué no te preocupes, puedes alquilarlo.
            También puedes ir con el traje de chaqueta que tengas,
            ¡lo importante es disfrutar ese día y celebrarlo con nosotros!</p>

        <p class="p-resp">Si decides alquilarlo, te dejamos un par de tiendas recomendadas, una en Jerez y otra en
            Cádiz.
            En la de Jerez, te harán un precio especial si dices el nombre del novio!</p>

        <div class="d-flex justify-content-center">

            <a class="btn btn-outline-secondary" href="https://www.jmcordon.com/alquiler-chaque-y-smoking"
                target="_blank">
                Alquiler Jerez
            </a>

            <a class="btn btn-outline-secondary ms-1"
                href="https://www.google.com/maps/place/Manuel+Infante/@36.530755,-6.2987061,17z/data=!3m1!4b1!4m5!3m4!1s0xd0dd161f22b0137:0x9ad666806e66bc1a!8m2!3d36.5306903!4d-6.2963993"
                target="_blank">
                Alquiler Cádiz
            </a>
        </div>

    </section>

</main>