<div class="container">

    <h2 class="text-center titulo-oscuro py-4">Preguntas frecuentes</h2>

    <ng-container *ngFor="let plan of Questions">
        <p class="p-tit mb-0">
            {{plan.title}}
        </p>
        <p class="p-resp mt-0 mb-4">
            {{plan.description}}
        </p>
    </ng-container>

  
    <div class="rect-linea mb-4">
        <p class="p-tit mb-0">¿Tienes alguna duda más?</p>
        <p class="p-resp">¡Ponte en contacto con nosotros!</p>
    </div>

</div>